<h1>Bem-vindo à Crypto Wallet</h1>
<% a = "Crypto Moedas" %>
<p>A melhor forma de gerenciar <%= a %></p>

<li>
    <%= link_to "Cadastro de Moedas", coins_path %>
</li>

<% if !@nome.nil? %>
<p>Olá, <%= @nome %>. Aproveite a aplicação.
</p>
<%end %>
<p>
    In a <strong> <%= rails_enviroment %> </strong> enviroment now :)
</p>